body, h1, h2, h3, h4, h5, h6, button, .button, .overlay-info > span > span, .project-title, .product-title, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .counter, .post-info-aside, .accordion > ul > li > a, .tab-nav > li > a, input, textarea {
	font-family: ClarikaGeometric-Medium, sans-serif!important;
}	

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 16px!important;
}

.footer .widget-title, .footer .widget-title a {
    letter-spacing: 0.5px!important;
    color: #555;
}

.footer .footer-top {
    padding-top: 80px!important;
    padding-bottom: 40px!important;
    background: #fff!important;
}

.button, button {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    background-color: #777;
    border-color: #777;
    min-width: 160px;
}

.button:hover, button:hover {
    background-color: #333;
    border-color: #333;
}

.footer-light .widget a:not(.button):hover, .footer-light a:hover + .post-info .post-date, .footer-light .navigation a:hover, .footer-light .social-list a:hover {
    color: #333;
}

.list-group.large li {
    padding: 0 0 4.5px 0!important;
}

ul.social-list {
	margin-top: 32px;
}

.footer .navigation a, .footer .social-list a {
    font-size: 1.1rem;
    font-weight: normal;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.tml-exit-light #tml-exit {
    color: #777;
}

div#tml-content-wrapper {
	top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
}

div#tml-content {
	height: 100vh!important;
    width: 100vw!important;
    top: 0!important;
    left: 0!important;
    border-radius: 0!important;
}

.form-element.large {
    padding: 10px 2px!important;
    font-size: 1.4rem!important;
    border: 0!important;
    border-bottom: 1px solid #ddd!important;
    border-radius: 0!important;
    letter-spacing: 0;
}

.signup-form-container {
    margin: 0!important;
}

div#contact-modal {
    padding: 0!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
}

.contact-form textarea {
    min-height: 75px!important;
}

form.contact-form .footer {
    background: transparent!important;
    margin-bottom: 36px;
}

form.contact-form .button {
    margin: 15px 0 0 0;
}

.signup-form-container .form-element, .signup-form-container input[type=submit] {
    margin-bottom: 24px;
}





.grid-filter-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.grid-filter-menu, .grid-filter-menu a {
    color: #fff!important;
}
.grid-filter-menu li {
	letter-spacing: 0.6px!important;
}
.section-block.grid-filter-menu {
    position: relative;
    margin-top: -62px;
    background: transparent!important;
}

section.section-block.featured-media.page-intro h1, h1.tms-caption.title-xlarge.color-white.mb-10.no-scale {
    font-size: 36px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 0!important;
}
.main section.section-block.featured-media.page-intro.tm-slider-parallax-container, .main .tm-slider-container.full-width-slider.show-on-hover {
    height: 400px!important;
}

.side-navigation {
    margin-bottom: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
nav.side-navigation li {
    padding: 10px 0;
}
.logo-inner img {
    width: 40px!important;
}
.side-navigation-wrapper + .wrapper {
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
}
.side-navigation-wrapper {
    background-color: #fff!important;
}
.section-block.replicable-content .width-3, .section-block.additional-content .column.width-10 {
    margin-left: 8.33333%;
}
div#tweet {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.replicable-content, .row.xlarge.replicable-content {
    padding-top: 80px;
    padding-bottom: 50px;
}
div#brief {
    padding-top: 80px;
}
#tweet {
    color: #777;
}
div#tweet .twitter-tweet {
    font-size: 15px;
    margin-bottom: 0;
}

div#tweet p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
    color: #555;
}
